/**** START COLORS ****/
/****  END COLORS  ****/
/**** START FONTS ****/
/****  END FONTS  ****/
/**** START MIXINS ****/
/****  END MIXINS  ****/
/**** START DRY CLASSES ****/
body {
  font-family: "Open Sans", sans-serif;
}

/****  END DRY CLASSES  ****/

/**** START DATATABLE STYLES ****/

/**** END DATATABLE STYLES ****/

/**** START MODULAR CLASSES ****/
.c-top-nav {
  background: #06174C;
  padding: 12.5px 35px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.c-top-nav .c-left {
  display: inline-block;
}
.c-top-nav .c-left .c-brand-image {
  margin-right: 10px;
  width: 34px;
}
.c-top-nav .c-left .c-brand-title {
  color: #fdfdfd;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
  position: relative;
  top: 1.5px;
}
.c-top-nav .c-right {
  display: inline-block;
  float: right;
}
.c-user-pic {
  border: solid 1px;
  border-color: #2C2C2D;
  border-radius: 100%;
}
.c-top-nav .c-right .c-user-name {
  color: #fdfdfd;
  font-size: 14px;
  letter-spacing: .5px;
  margin-left: 10px;
}

.c-side-nav-div {
  background: #EEEEEE;
  padding: 0 3px 0 0;
  width: 100%;
  position: fixed;
  z-index: 5;
}

.c-side-nav {
  background: #fdfdfd;
  padding: 30px 40px;
  height: 100vh;
  position: relative;
  z-index: 5;
}

@media (max-width: 768px) {
  .c-side-nav {
    display: none;
  }
}

.c-side-nav .c-user-type {
  font-size: 20px;
  font-weight: 700;
}

.c-side-nav .c-link {
  margin: 13px 0;
}

.c-side-nav .c-link .c-link-name {
  color: #2C2C2D;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  top: -7px;
}

.c-side-nav .c-link .active {
  font-weight: 700;
}

.c-side-nav .c-link .c-link-icon {
  color: #2C2C2D;
  cursor: pointer;
  display: inline-block;
  font-size: 27px;
  margin-right: 10px;
}

.c-main-content {
  background: #EEEEEE;
  min-height: 100vh;
  padding: 0px 20px;
}
.c-main-content .c-content-cont {
  max-width: 1200px;
  margin: 40px auto 60px auto;
}
@media (min-width: 567px) {
  .c-main-content {
    padding: 40px 60px;
  }
}
.c-main-content span {
  display: block;
}
.c-main-content .c-title {
  font-size: 24px;
  line-height: 25px;
  color: #AEAEAE;
  font-weight: 600;
  margin-bottom: 10px;
}
@media (min-width: 576px) {
  .c-main-content .c-title {
    font-size: 27.36px;
    line-height: 28.5px;
  }
}
@media (min-width: 768px) {
  .c-main-content .c-title {
    font-size: 31.1904px;
    line-height: 32.49px;
  }
}
@media (min-width: 992px) {
  .c-main-content .c-title {
    font-size: 35.55706px;
    line-height: 37.0386px;
  }
}
@media (min-width: 1200px) {
  .c-main-content .c-title {
    font-size: 40.53504px;
    line-height: 42.224px;
  }
}
@media (min-width: 576px) {
  .c-main-content .c-title {
    padding-left: 40px;
  }
}
.c-main-content .c-recommendations .c-rec-cards {
  margin-right: -5px;
  margin-left: -5px;
}
.c-main-content .c-recommendations .c-rec-cards > .col,
.c-main-content .c-recommendations .c-rec-cards > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
.c-main-content .c-recommendations .c-rec-card {
  background: #fdfdfd;
  padding: 30px 30px;
  margin-top: 10px;
}
.c-main-content .c-recommendations .c-rec-card .c-rec-title {
  font-size: 16px;
  line-height: 33px;
  font-weight: 700;
}
@media (min-width: 576px) {
  .c-main-content .c-recommendations .c-rec-card .c-rec-title {
    font-size: 16.96px;
    line-height: 34.98px;
  }
}
@media (min-width: 768px) {
  .c-main-content .c-recommendations .c-rec-card .c-rec-title {
    font-size: 17.9776px;
    line-height: 37.0788px;
  }
}
@media (min-width: 992px) {
  .c-main-content .c-recommendations .c-rec-card .c-rec-title {
    font-size: 19.05626px;
    line-height: 39.30353px;
  }
}
@media (min-width: 1200px) {
  .c-main-content .c-recommendations .c-rec-card .c-rec-title {
    font-size: 20.19963px;
    line-height: 41.66174px;
  }
}
.c-main-content .c-recommendations .c-rec-card .c-rec-subtitle {
  font-size: 13px;
  line-height: 20px;
  color: #AEAEAE;
  font-weight: 600;
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .c-main-content .c-recommendations .c-rec-card .c-rec-subtitle {
    font-size: 13.78px;
    line-height: 21.2px;
  }
}
@media (min-width: 768px) {
  .c-main-content .c-recommendations .c-rec-card .c-rec-subtitle {
    font-size: 14.6068px;
    line-height: 22.472px;
  }
}
@media (min-width: 992px) {
  .c-main-content .c-recommendations .c-rec-card .c-rec-subtitle {
    font-size: 15.48321px;
    line-height: 23.82032px;
  }
}
@media (min-width: 1200px) {
  .c-main-content .c-recommendations .c-rec-card .c-rec-subtitle {
    font-size: 16.4122px;
    line-height: 25.24954px;
  }
}
.c-main-content .c-recommendations .c-rec-card .c-rec-subtitle a {
  color: #AEAEAE;
  border-bottom: solid 1px;
  margin-bottom: 5px;
  text-decoration: none;
  transition: .25s;
}
.c-main-content .c-recommendations .c-rec-card .c-rec-subtitle a:hover {
  color: #06174C;
}
.c-main-content .c-recommendations .c-rec-card .c-rec-data {
    font-size: 40px;
    line-height: 55px;
    color: #563d7c;
    font-weight: 600;
}
@media (min-width: 576px) {
  .c-main-content .c-recommendations .c-rec-card .c-rec-data {
    font-size: 41.2px;
    line-height: 56.65px;
  }
}
@media (min-width: 768px) {
  .c-main-content .c-recommendations .c-rec-card .c-rec-data {
    font-size: 42.436px;
    line-height: 58.3495px;
  }
}
@media (min-width: 992px) {
  .c-main-content .c-recommendations .c-rec-card .c-rec-data {
    font-size: 43.70908px;
    line-height: 60.09999px;
  }
}
@media (min-width: 1200px) {
  .c-main-content .c-recommendations .c-rec-card .c-rec-data {
    font-size: 45.02035px;
    line-height: 61.90298px;
  }
}

body{
    background: #E1E1E1;
}

.hypnos-brand {
    padding-left: 24px;
}

.integration-item {
    display: flex;
    align-content: center;
    background: white;
}

.integration-img {
    margin-top: 22px;
    margin-left: 25px;
}

.integration-msg {
    display: flex;
    flex-direction: column;
}

.settings-form {
    padding-left: 0;
}

.grey-text {
    color: #95989A;
}

.font-size_26 {
    font-size: 26px;
}

.font-size_22 {
    font-size: 22px;
}

/****  END MODULAR CLASSES****/

/*Utility Classes*/
.no-margin_bottom {
    margin-bottom: 0 !important;
}

.margin-top_5 {
    margin-top: 5px;
}

.margin-btm_5 {
    margin-bottom: 5px;
}

.pointer {
    cursor: pointer;
}

.pointer-progress {
    cursor: progress;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.align-self_center {
    align-self: center;
}

/******* Vendor CSS Changes **********/

/* Giving the title of sweet alert a margin bottom of 15 because we're not using buttons. */
.swal-title {
    margin-bottom: 15px;
}