﻿
body {
  font-family: "Open Sans", sans-serif;
}

.c-loginForm-div {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  height: 100vh;
}
.c-loginForm-div .c-brand {
  margin-bottom: 10vh;
}
.c-loginForm-div .c-brand img {
  margin-right: 8px;
  width: 45px;
}
.c-loginForm-div .c-brand .c-brand-title {
  color: #2C2C2D;
  font-size: 27px;
  font-weight: 700;
  letter-spacing: -1px;
  position: relative;
  top: 4px;
}
.c-loginForm-div .c-loginForm {
  margin-bottom: 6vh;
}
.c-loginForm-div .c-loginForm span {
  display: block;
}
.c-loginForm-div .c-loginForm input {
  font-family: "Open Sans", sans-serif;
  width: 100%;
}
.c-loginForm-div .c-loginForm .c-1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;
}
.c-loginForm-div .c-loginForm .c-2 {
  margin-bottom: 6px;
}
.c-loginForm-div .c-loginForm input {
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #cbcbcb;
  color: #cbcbcb;
  font-size: 18spx;
  margin-bottom: 20px;
  padding: 10px 15px;
}
.c-loginForm-div .c-loginForm input::placeholder {
  color: #cbcbcb;
}
.c-loginForm-div .c-next-div button {
  background: #06174C;
  border: none;
  border-radius: 5px;
  color: #fdfdfd;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 10px 35px;
  transition: .24s;
}
.c-loginForm-div .c-next-div button:hover {
  background: #49567C;
}

.c-sideBG {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.05)), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/Hypnos%20-%20Laptop%20Bed.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
@media (max-width: 576px) {
  .c-sideBG {
    display: none;
  }
}
