﻿/**** START COLORS ****/
$white: #fdfdfd;
$charcoal: #2C2C2D;
$grey: #cbcbcb;
$grey-light: #EEEEEE;
$blue: #06174C;
$blue-light: #49567C;
/****  END COLORS  ****/

/**** START FONTS ****/
$open-sans: 'Open Sans', sans-serif;
$fw-0: 300;
$fw-1: 400;
$fw-2: 600;
$fw-3: 700;
$fw-4: 800;
/****  END FONTS  ****/

/**** START MIXINS ****/
@mixin perfectBG ($imgSrc, $shadow) {
  background: linear-gradient(rgba(0, 0, 0, $shadow+.4), rgba(0, 0, 0, $shadow)),
    url($imgSrc) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin cardShadow($shadowDepth){
  @if($shadowDepth == 1){
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if ($shadowDepth == 2){
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if ($shadowDepth == 3){
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}
@mixin textShadow($shadowWeight){
  text-shadow: 0 2px 4px rgba(0,0,0,$shadowWeight)
}
@mixin fontSizes($font-size, $ratio, $lh, $lh-ratio){
  font-size: $font-size;
  line-height: $lh;
  
  @media(min-width: 576px){
    font-size: $font-size * $ratio;
    line-height: $lh * $ratio;
  }
  
  @media(min-width: 768px){
    font-size: $font-size * $ratio * $ratio;
    line-height: $lh * $ratio * $ratio;
  }
  
  @media(min-width: 992px){
    font-size: $font-size * $ratio * $ratio * $ratio;
    line-height: $lh * $ratio * $ratio * $ratio;
  }
  
  @media(min-width: 1200px){
    font-size: $font-size * $ratio * $ratio * $ratio * $ratio;
    line-height: $lh * $ratio * $ratio * $ratio * $ratio;
  }
}
/****  END MIXINS  ****/

/**** START DRY CLASSES ****/
body{
  font-family: $open-sans;
}
/****  END DRY CLASSES  ****/

/**** START MODULAR CLASSES ****/
.c-loginForm-div{
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  height: 100vh;
  .c-brand{
    margin-bottom: 10vh;
    img{
      margin-right: 8px;
      width: 45px;
    }
    .c-brand-title{
      color: $charcoal;
      font-size: 27px;
      font-weight: $fw-3;
      letter-spacing: -1px;
      position: relative;
      top: 4px;
    }
  }
  .c-loginForm{
    margin-bottom: 6vh;
    span{
      display: block;
    }
    input{
      font-family: $open-sans;
      width: 100%;
    }
    
    .c-1{
      font-size: 35px;
      font-weight:$fw-2;
      margin-bottom: 30px;
    }
    
    .c-2{
      margin-bottom: 6px;
    }
    
    input{
      border:solid;
      border-radius: 5px;
      border-width: 1px;
      border-color: $grey;
      color: $grey;
      font-size: 18spx;
      margin-bottom: 20px;
      padding: 10px 15px;
    }
    input::placeholder{
      color: $grey;
    }
    
  }
  .c-next-div{
    button{
      background: $blue;
      border:none;
      border-radius: 5px;
      color: $white;
      cursor: pointer;
      font-family: $open-sans;
      font-weight: $fw-2;
      padding: 10px 35px;      
      transition: .24s;
    }
    button:hover{
      background: $blue-light;
    }
  }
  
}


.c-sideBG{
  @include perfectBG("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/Hypnos%20-%20Laptop%20Bed.jpg", .05);
  height: 100vh;
  @media(max-width: 576px){
    display: none;
  }
  
}


/****  END MODULAR CLASSES****/