/**** START COLORS ****/
$white: #fdfdfd;
$charcoal: #2C2C2D;
$grey: #AEAEAE;
$grey-light: #EEEEEE;
$blue: #06174C;
$blue-light: #49567C;
/****  END COLORS  ****/

/**** START FONTS ****/
$open-sans: 'Open Sans', sans-serif;
$fw-0: 300;
$fw-1: 400;
$fw-2: 600;
$fw-3: 700;
$fw-4: 800;
/****  END FONTS  ****/

/**** START MIXINS ****/
@mixin perfectBG ($imgSrc, $shadow) {
  background: linear-gradient(
      rgba(0, 0, 0, $shadow+.4),
      rgba(0, 0, 0, $shadow)
    ),
    url($imgSrc) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin cardShadow($shadowDepth) {
  @if ($shadowDepth == 1) {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  @else if ($shadowDepth == 2) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  @else if ($shadowDepth == 3) {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}
@mixin textShadow($shadowWeight) {
  text-shadow: 0 2px 4px rgba(0, 0, 0, $shadowWeight);
}
@mixin fontSizes($font-size, $ratio, $lh, $lh-ratio) {
  font-size: $font-size;
  line-height: $lh;

  @media (min-width: 576px) {
    font-size: $font-size * $ratio;
    line-height: $lh * $ratio;
  }

  @media (min-width: 768px) {
    font-size: $font-size * $ratio * $ratio;
    line-height: $lh * $ratio * $ratio;
  }

  @media (min-width: 992px) {
    font-size: $font-size * $ratio * $ratio * $ratio;
    line-height: $lh * $ratio * $ratio * $ratio;
  }

  @media (min-width: 1200px) {
    font-size: $font-size * $ratio * $ratio * $ratio * $ratio;
    line-height: $lh * $ratio * $ratio * $ratio * $ratio;
  }
}
/****  END MIXINS  ****/

/**** START DRY CLASSES ****/
body {
  font-family: $open-sans;
}
/****  END DRY CLASSES  ****/

/**** START MODULAR CLASSES ****/
.c-top-nav-cont {
  // padding-bottom: 4px;
}
.c-top-nav {
  // @include cardShadow(2);
  background: $blue;
  padding: 12.5px 35px;
  position: fixed;
  width: 100%;
  z-index: 1;
  .c-left {
    display: inline-block;
    .c-brand-image {
      margin-right: 10px;
      width: 34px;
    }
    .c-brand-title {
      color: $white;
      display: inline-block;
      font-weight: $fw-3;
      font-size: 20px;
      margin-right: 20px;
      position: relative;
      top: 1.5px;
    }
  }

  .c-right {
    display: inline-block;
    float: right;
    .c-user-pic {
      border: solid 1px;
      border-color: $charcoal;
      border-radius: 100%;
      width: 35px;
    }
    .c-user-name {
      color: $white;
      font-size: 14px;
      letter-spacing: .5px;
      margin-left: 10px;
    }
  }
}

.c-side-nav-div {
  background: $grey-light;
  padding: 0 3px 0 0;
  width: 100%;
  position: fixed;
  z-index: 5;
  margin-top: 60px;
}

.c-side-nav {
  @media (max-width: 768px) {
    display: none;
  }

  background: $white;
  padding: 30px 40px;
  height: 100vh;
  position: relative;
  z-index: 5;
  @include cardShadow(2);

  .c-user-type {
    font-size: 20px;
    font-weight: $fw-3;
  }

  .c-link {
    margin: 13px 0;
    .c-link-name {
      color: $charcoal;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: $fw-2;
      position: relative;
      top: -7px;
    }
    .active {
      font-weight: $fw-3;
    }

    .c-link-icon {
      color: $charcoal;
      cursor: pointer;
      display: inline-block;
      font-size: 27px;
      margin-right: 10px;
    }
  }
}

.c-main-content {
  background: $grey-light;
  margin-top: 60px;
  min-height: 100vh;
  padding: 0px 20px;

  .c-content-cont{
    max-width: 1200px;
    margin: 40px auto 60px auto;
  }
  

  @media (min-width: 567px) {
    padding: 40px 60px;
  }

  span {
    display: block;
  }
  
  .c-title {
    @include fontSizes(24px, 1.14, 25px, 1.14);
    @media(min-width: 576px){
      padding-left: 40px;
    }
    color: $grey;
    font-weight: $fw-2;
    margin-bottom: 10px;
  }
  
  .c-recommendations {
    .c-rec-cards{
      margin-right: -5px;
      margin-left: -5px;

      > .col,
      > [class*="col-"] {
        padding-right: 5px;
        padding-left: 5px;
      }
    }
    

    .c-rec-card {
      background: $white;
      padding: 30px 30px;
      margin-top: 10px;

      .c-rec-title {
        @include fontSizes(16px, 1.06, 33px, 1.1);
        font-weight: $fw-3;
      }
      .c-rec-subtitle {
        @include fontSizes(13px, 1.06, 20px, 1.1);
        color: $grey;
        font-weight: $fw-2;
        margin-bottom: 20px;
        a {
          color: $grey;
          border-bottom: solid 1px;
          margin-bottom: 5px;
          text-decoration: none;
          transition: .25s;
        }
        a:hover{
          color: $blue;
        }
      }
      .c-rec-data {
        @include fontSizes(40px, 1.03, 55px, 1.1);
        color: $blue;
        font-weight: $fw-2;
      }
    }
  }
}

/****  END MODULAR CLASSES****/
